{% extends 'shop/basic.html' %}
{% load static %}
{% block css %}
.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

p{
    font-size : 1.5rem;
}

.header h2{
    text-decoration : underline;
}

body{
  background: #E6DADA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .about-section {
    padding: 100px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.flex-container {
    justify-content: space-around;
}


    .card {
        box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
        /* margin: 100px;
        width:18rem; */
        /* height: 18rem;  */
    }

    .card-title{
        text-align: center;
    }
    .card-text{
        height:18 rem;
        text-align: center;
    }
    .card-image-top{

    }

    footer {
      text-align: center;
      padding: 10px;
      background-color:#474e5d;
      color: white;
      height: auto;
    }
{% endblock %}
{% block title%} Contact Us - My Awesome Cart{% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="about-section">
     <h1>SkillsUp</h1>

     <p>Through SkillsUp you can increase your skills during quarantine as well as in our daily routine. We have created a site through which you can choose different courses from different platforms. You will also get to know the different courses available in the era. Most of the students know about few courses which are famous but from this site you can get different courses and not only of courses but also about the platform according to your budget.If you are still confused between the courses or platform to choose, feel free to use the contact block and we'll definitely try to help you.</p>
   </div>



 <div class="header">
     <h1>Our Team</h1>
     <p>Our team consists of two members i.e., Anjali Pushkar (Back-end developer) and Nirmal Singh (Frontend developer). We have limited team but a very talented and hard working team. We both are pursuing in b.tech 3rd year from Computer Science branch from Ambedkar Institute of Advanced Communication Technologies and Research. Our goal is to provide the choices to the learners. We want that everyone should know about the courses before joining them so that they can learn and do something good with their future and could increase their knowledge. We are always there to solve the queries. Hope you will find it helpful and could able to upgrade your skills.</p>
     <h2>More about team</h2>
</div>

<section>
 <div class="flex-container">
     <div class="row">
         <div class="col-lg-3 mb-4">
             <div class="card">
                 <img class="card-img-top" src= "{% static 'anjali1.jpg' %}"  alt="">
                 <div class="card-body">
                     <h4 class="card-title">Anjali</h4>

                     <p class="card-text"> WEB DEVELOPER-BACKEND</p>
                 </div>
             </div>
         </div>
         <div class="col-lg mb-4">
             <h3>ANJALI PUSHKAR</h3>
            <p>Anjali was born in 2000 in Delhi.She studies in GGSIP University.She is a backend developer of this website. Excellent client manager. She is always accurate, all promises are fulfilled, all questions get answers, the team presents very attentive and positive approach.</p>
         </div>
    </div>
     <div class="row">
         <div class="col-lg-3 mb-4">
             <div class="card">
                 <img class="card-img-top" src="{% static 'nimmi.jpg' %}" alt="">
                 <div class="card-body">
                     <h4 class="card-title">Nirmal</h4>

                     <p class="card-text">WEB DEVELOPER-FRONTEND</p>
                 </div>
             </div>
         </div>
         <div class="col-lg mb-4">
             <h3>NIRMAL SINGH</h3>
            <p>Nirmal was born in 1999 in Delhi.She studies in GGSIP University.She is a frontend developer of this website. She is proficient with web development related technologies like HTML, CSS, Javascript and many more. Excellent client manager. She is always accurate, all promises are fulfilled, all questions get answers, the team presents very attentive and positive approach.</p>
         </div>
     </div>
 </div>


<footer>
    <h1 style="text-align:center">Our Clients</h1>
  <p style="text-align:center">Thank You for Choosing Us!</p>
  <h4 style="text-align:center">For contact</h4>
  <p>skillsup@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fab fa-facebook-square" style="font-size:30px; color : white"></i>
  <i class="fab fa-instagram" style="font-size:30px ; color : white"></i>
</footer>


</div>
{% endblock %}
