
{% extends 'shop/basic.html' %}
{% load static %}
{% block title%} Title of About{% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% load static %}
{% block body %}
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
<div class="carousel-inner">
    <div class="carousel-item active">      
		<img src= "{% static 'back.jpg' %}" alt="Girl in a jacket" width= 100% height= auto>
    	<div class="carousel-caption d-none d-md-block">
    			<h1 style="text-align: center; color:white">WANT TO LEARN NEW SKILLS..??</h1><br /><br/>
    			<p>SkillsUp is a web service where you can learn programming online.</p>
    			<p>We offer you a fully equipped coding environment to get you started.</p><br /><br/>
    			<a href="{% url "ShopHome" %}" class="btn btn-info" role="button">Courses</a>
    	</div>	
    </div>
    <div class="carousel-item">
    	<img src="{%static 'l1.jpg'%}" alt="covid" width=100% height=auto>
    	<div class="carousel-caption d-none d-md-block">
    		<h1 style="color:white;">WE BRING THE CLASSROOM TO YOUR HOME THIS COVID-19</h1>
    		<P>Online classes are a perfect alternative to Classroom courses.</P>
    	</div>
	</div>
	<div class="carousel-item">
    	<img src="{%static 'learn1.jpg'%}" alt="girl" width=100% height=auto>
    	<div class="carousel-caption d-none d-md-block">
    		<h1 style="color:black">LEARN FROM HOME | LEARN ONLINE</h1>
    		<P>Introducing Online Programming Courses!</P>
    	</div>
	</div>

</div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="info">
  <h2>We are SkillsUp</h2>

  <p>Through SkillsUp you can increase your skills during quarantine as well as<br /> in our daily routine.
     We have created a site through which you can<br /> choose different courses from different platforms.<br />
      You will also get to know the different courses available<br /> in the era.
       Most of the students know about few courses<br /> which are famous but from this site you can get different courses and<br /> not only of courses but also about the platform according to your budget.<br />
       If you are still confused between the courses or platform to choose,<br /> feel free to use the contact block and we'll<br /> definitely try to help you.<br /></p><br />
</div>
<div class="image1 my-3">
  <img src= "{% static 'l2.png' %}" alt="Girl in a jacket" width= 100% height= auto>
</div>
<div class="image2 my-3">
  <img src= "{% static 'graph.jpg' %}" alt="Girl in a jacket" width= 100% height= auto>
</div>
<div class="image3 my-3">
  <img src= "{% static 'std.jpg' %}" alt="Girl in a jacket" width= 100% height= auto>
</div>

<div class="div1">
	<h2>Achieve your goals with SkillsUp</h2>
<div class="flex-container">
	<div class="row">
		<div class="col-lg mb-4">
			<div class= "img-container">
			<i class= "fas fa-chalkboard-teacher fa-7x"></i>
		</div>
			<h3 class="prop-title">
				<span>
					Learn new Skills
					<small>like Python, Java, Machine learning and more</small>
				</span>
			</h3>
		</div>
		<div class="col-lg mb-4">
			<div class= "img-container">
				<i class= "fas fa-user-graduate fa-7x"></i>
			</div>
			<h3 class="prop-title">
				<span>
					Get ready for career
					<small>in high-demand fields like IT, AI and cloud engineering</small>
				</span>
			</h3>
		</div>
		<div class="col-lg mb-4">
			<div class= "img-container">
			<i class= "fas fa-users fa-7x"></i>
		</div>
			<h3 class="prop-title">
				<span>
					Upskill your organization
					<small>with on-demand training and development programs</small>
				</span>
			</h3>
		</div>
		<div class="col-lg mb-4">
			<div class= "img-container">
			<i class= "fa fa-globe fa-7x"></i>
		</div>
			<h3 class="prop-title">
				<span>
					WORLDWIDE
					<small>All sites you make with SkillsUp are mobile-friendly. You don't have to create a special mobile version of your site.</small>
				</span>
			</h3>
		</div>
	</div>
</div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src= "{% static 'course.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Courses</h4>

                        <p class="card-text">Go through from courses, you will definitely find something usefull.</p>
                        <a href="{% url 'ShopHome' %}" class="btn btn-primary stretched-link">See Courses</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'blog1.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Blogs</h4>

                        <p class="card-text">You can publish your own blog as well as read other's blog.</p>
                        <a href="{% url 'blog' %}" class="btn btn-primary stretched-link">See Blogs</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'contact.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Contact Us</h4>

                        <p class="card-text">Feel free to ask anything. We will try t hell you out as early as possible.</p>
                        <a href="{% url 'ContactUs' %}" class="btn btn-primary stret
                        hed-link">See Contacts</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'about.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Our Team</h4>

                        <p class="card-text">Our team is small in size but big in talent. If want to know more about team you can go through their github profile.</p>
                        <a href="{% url 'AboutUs' %}" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
</div>

<footer class='container-fluid'>
  <h1 style="text-align:center">Our Clients</h1>
  <p style="text-align:center">Thank You for Choosing Us!</p>
  <h4 style="text-align:center">For contact</h4>
  <p>skillsup@gmail.com</p>
  <p>phone no:99999999</p>
  <i class="fab fa-facebook-square" style="font-size:30px; color : white"></i>
  <i class="fab fa-instagram" style="font-size:30px ; color : white"></i>

</footer>

{% endblock %}


{% block css %}
.info {
  position:relative;
background-color:#D9E9F3;
<!-- background: transparent url('img/Rectangle 571.png') 0% 0% no-repeat padding-box; -->
opacity: 0.2;
}

.info h2 {
  color : black;
}
.info p {

    text-align: center;
  font: Regular 100px Roboto;
  font-size : 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1
  }
.image1 {
  position:relative;
}
body{
  background-color: black;
}

#content img {
  float: center;
}
.container-text {
  top: 80px;
  right: 200px;
  color: White;
}


.content p{
  text-color : white;
  float: right;
}

 .text-block {
  position: absolute;
  top: 80px;
  left: 20px;
  font-weight: 700;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}   

.carousel-item {
	text-size-adjust: auto;
}

.carousel-caption h1{
  font-size: 8vw;
  top: 80px;
  right: 200px;
}

.carousel-caption p{
  font-size: 1.5vw;
}

.div1 {
	background-color : black;
}

.flex-container {
	box-sizing: border-box;
	display : flex;
	flex-flow : row-wrap;
	justify-content: center;
	padding: 30px;
	margin: 30px;
}

.img-container {
	align-items: center;
}

h2 {
	color : white;
	display: block;
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
}

i {
	color:#2196F3;
}

.prop-title {
	font-family : OpenSans,Arial,sans-serif;
	font-weight : 400;
	line-height : 32px;
	color: white;
	margin-bottom : 30px;
}

.prop-title h3 {
	font-size : 1.5rem;
}

.prop-title small {
	display : block;
	font-size : 16px;
	line-height : 27px;
	margin-top : 10px;
}

#im:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}



.card img{
  height : 200px;
}

 .card {
  <!-- background-color: DarkSlateGray; -->
   max-width: 400;
   height: 420px;

}

#content-wrap {
padding-bottom: 2.5rem;    /* Footer height */
}


footer {
      text-align: center;
      padding: 10px;
      background-color:DarkSlateGrey;
      color: white;
      height: auto;
    }


.fa-instagram{
  padding-right: 20px;
}
  /* Footer height */
  }

{% endblock %}
